{{- $name := site.Params.author | default site.Title -}}
{{- with .page -}}
  {{- $name = .Params.author | default $name -}}
{{- end -}}
{{- $name = .name | default $name -}}
{{- $body := .body | default site.Params.description -}}
<aside class="{{ .class | default "brand-author-shell" }}">
  <header class="entry-header">
    <h2>{{ .title | default "About the author" }}</h2>
  </header>
  {{- with $body -}}
  <div class="entry-content">
    {{ . | markdownify }}
  </div>
  {{- end -}}
  <footer class="entry-footer">
    {{ $name }}
    {{- if site.Params.socialLinks -}}
    <br>
    {{- partial "site/social-links.html" -}}
    {{- end -}}
  </footer>
</aside>
