{{- $title := site.Title -}}
{{- $content := site.Params.description -}}
{{- $align := "" -}}
{{- with site.Params.homeInfoParams -}}
  {{- $title = .Title | default $title -}}
  {{- $content = .Content | default $content -}}
  {{- $align = .AlignSocialIconsTo -}}
{{- end -}}
<article class="first-entry home-info brand-home-hero">
  <header class="entry-header">
    <h1>{{ $title }}</h1>
  </header>
  {{- with $content -}}
  <div class="entry-content">
    {{ . | markdownify }}
  </div>
  {{- end -}}
  {{- if site.Params.socialIcons -}}
  <footer class="entry-footer">
    {{- partial "social_icons.html" (dict "align" $align) -}}
  </footer>
  {{- end -}}
</article>
