{{- $page := .page -}}
{{- $showMeta := true -}}
{{- if isset . "showMeta" -}}
  {{- $showMeta = .showMeta -}}
{{- end -}}
{{- $showSeries := false -}}
{{- if isset . "showSeries" -}}
  {{- $showSeries = .showSeries -}}
{{- end -}}
{{- $summary := $page.Description | default ($page.Summary | plainify | htmlUnescape) -}}
{{- $seriesValues := partial "brand/post_value_slice.html" $page.Params.series -}}
<article class="{{ .class | default "post-entry" }}">
  {{- $isHidden := ($page.Param "cover.hiddenInList") | default ($page.Param "cover.hidden") | default false -}}
  {{- partial "cover.html" (dict "cxt" $page "IsSingle" false "isHidden" $isHidden) -}}
  <header class="entry-header">
    {{- with .eyebrow -}}
    <p class="entry-hint">{{ . }}</p>
    {{- end -}}
    <h2 class="entry-hint-parent">
      {{- $page.Title -}}
      {{- if or .badge $page.Params.featured -}}
      <span class="entry-hint" title="{{ .badge | default "Featured" }}">
        {{ .badge | default "Featured" }}
      </span>
      {{- end -}}
    </h2>
  </header>
  {{- with $summary -}}
  <div class="entry-content">
    <p>{{ . }}{{ if and (not $page.Description) $page.Truncated }}...{{ end }}</p>
  </div>
  {{- end -}}
  {{- if or $showMeta (and $showSeries (gt (len $seriesValues) 0)) -}}
  <footer class="entry-footer">
    {{- if $showMeta -}}
      {{- partial "post_meta.html" $page -}}
    {{- end -}}
    {{- if and $showSeries (gt (len $seriesValues) 0) -}}
      {{- if $showMeta -}}<br>{{- end -}}
      Series: {{ delimit $seriesValues " · " }}
    {{- end -}}
  </footer>
  {{- end -}}
  <a class="entry-link" aria-label="post link to {{ $page.Title | plainify }}" href="{{ $page.Permalink }}"></a>
</article>
