@media screen and (max-width: 768px) {
    /* theme-vars */
    :root {
        --gap: 14px;
    }

    /* footer */
    .footer {
        padding: calc((var(--footer-height) - var(--gap) - 10px) / 2) var(--gap);
    }
}

/* footer */
@media screen and (max-width: 900px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

@media (prefers-reduced-motion) {
    /* terms; article cards; top-link */
    .terms-tags a:active,
    .article-card:active,
    .top-link {
        transform: none;
    }
}
