<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if ne .Kind `page` -}}
{{- print "list" -}}
{{- end -}}
{{- with partial "site/body-class.html" . -}}
{{- print " " . -}}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . -}}
</body>

</html>
