.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: clamp(1.5rem, 4vw, 2.5rem) var(--gap) clamp(3rem, 7vw, 4.5rem);
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pagination a {
    color: var(--primary);
    font-size: 14px;
    line-height: 1.6;
    background: transparent;
    border-radius: 0;
    padding: 0;
    border-bottom: 1px solid transparent;
}

.pagination a:hover {
    border-bottom-color: currentColor;
}

.pagination .next {
    margin-inline-start: auto;
}

.page-footer {
    margin-top: 2rem;
    padding-top: 1.25rem;
    border-top: 1px solid var(--border);
}

.social-icons a {
    display: inline-flex;
    padding: 8px;
}

.social-icons a svg {
    height: 22px;
    width: 22px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}
